.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.footer_media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer_media div {
    display: flex;
}
.footer_media div a {
    cursor: pointer;
    padding-left: 25px;
}
.footer_copy {
    text-align: center;
}
.footer_code_and_docs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer_code_and_docs div {
    display: flex;
}
.footer_code_and_docs div a {
    cursor: pointer;
    padding-left: 25px;
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .footer div {
        margin: 10px;
    }
}
