.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.footer_copy p {
    margin-left: 20px;
}
.footer_copy {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer_copy img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .footer div {
        margin: 10px;
    }
}
