.main_container {
    min-height: 100vh;
}

.main_container div p {
    text-align: center;
}

.title {
    font-size: 40px;
    text-align: center;
    margin: 10vh;
}

.logo {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
}

.section_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15vh auto;
}

.section_1 .sub_description {
    font-size: 18px;
}

.section_1 .main_text_dark {
    font-size: 32px;
    color: #bef264;
    margin-bottom: 5vh;
    font-weight: bold;
}

.section_1 .main_text_light {
    font-size: 32px;
    color: #d40000;
    margin-bottom: 5vh;
    font-weight: bold;
}

.networks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.networks div .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.social {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_links {
    display: flex;
    flex-direction: row;
}

.social .social_links div {
    margin: 30px;
    cursor: pointer;
}

@media (max-width: 820px) {
    .section_1 .main_text_dark {
        font-size: 24px;
    }

    .section_1 .main_text_light {
        font-size: 24px;
    }

    .section_1 {
        margin: 15vh 3vw;
    }
}

@media (max-width: 400px) {
    .section_1 .sub_description {
        font-size: 16px;
    }
    .networks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .networks div {
        margin-right: 8px;
    }

    .networks div .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
    }

    .social {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social_links {
        display: flex;
        flex-direction: column;
    }

    .social .social_links div {
        margin: 10px;
    }
}
